<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Id</th>
        <th>Возраст</th>
        <th>Электронная почта</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td th:utext="${user.getName()}">id</td>
        <td th:utext="${user.getId()}">Имя</td>
        <td th:utext="${user.getAge()}">Фамилия</td>
        <td th:utext="${user.getEmail()}">Электронная почта</td>
    </tr>
    </tbody>
</table>
<br/>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>